<section class="hero">
    <div class="hero-info">
        <h1>POWER SHAPE: FORÇA QUE TRANSFORMA</h1>
        <p class="subtitle">DESDE 2022 CONSTRUINDO CAMPEÕES</p>
    </div>

    <div class="media-grid">
        <div class="media-item">
            <video controls playsinline loop muted>
                <source src="power.mp4" type="video/mp4">
            </video>
        </div>
        <div class="media-item">
            <img src="aluno 1.jpg" alt="Resultado">
        </div>
        <div class="media-item">
            <img src="aluno 2.jpg" alt="Treino">
        </div>
    </div>

    <div class="about-section">
        <div class="schedule-wrapper">
            <div class="schedule-text">
                <h3>NOSSOS HORÁRIOS</h3>
                <p>Estamos abertos estrategicamente para atender sua rotina. Treine com equipamentos de ponta e suporte
                    profissional em todos os turnos.</p>
                <ul class="schedule-list">
                    <li><strong>SEG A SEX:</strong> De 06h às 22h</li>
                    <li><strong>SÁBADOS:</strong> De 08h às 14h</li>
                    <li><strong>DOMINGOS:</strong> De 07h às 12h</li>
                </ul>
            </div>

            <div class="schedule-image-box">
                <img src="horario.png" alt="Quadro de Horários" class="schedule-img">
            </div>
        </div>

        <div class="pricing-wrapper">
            <div class="pricing-image">
                <img src="precos.png" alt="Tabela de Preços Power Shape" class="side-img">
            </div>

            <div class="pricing-text">
                <h3>PLANOS FLEXÍVEIS</h3>
                <p>Temos o plano ideal para o seu objetivo. Seja para manutenção da saúde ou alta performance, a Power
                    Shape oferece as melhores condições.</p>
                <ul class="features-list">
                    <li><i class="fas fa-check"></i> Acesso Total à Musculação</li>
                    <li><i class="fas fa-check"></i> Avaliação Física Periódica</li>
                    <li><i class="fas fa-check"></i> Acompanhamento no dia-a-dia</li>
                </ul>
               
            </div>
        </div>

        <div class="description">
            <h2>SOBRE A POWER SHAPE</h2>
            <p>
                Na <strong>Power Shape</strong>, combinamos paixão, ciência e a dedicação necessária para transformar
                jornadas em resultados reais.
                Nossa missão é oferecer um ambiente de alta performance para quem busca superar limites.
            </p>
        </div>
         <button class="btn-signup" routerLink="/cadastro">QUERO ME INSCREVER</button>
    </div>
</section>